amqp
asgiref
backports.entry-points-selectable
beautifulsoup4
branca
bs4
certifi
charset-normalizer
click
colorama
decorator
distlib
Django
django-adminlte3
django-crispy-forms
filelock
folium
future
geocoder
gunicorn
idna
Jinja2
joblib
kombu
lxml
MarkupSafe
mysql-connector-python
mysqlclient
numpy
Pillow
platformdirs
protobuf
PyMySQL
python-dateutil
Python-Rest-Framework
pytz
ratelim
requests
scikit-learn
scipy
six
sorl-thumbnail
soupsieve
sqlparse
threadpoolctl
tzdata
urllib3
vine
virtualenv
whitenoise
